* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}


footer {
    height: 40px;
    width: 100%;
    display: grid;
    place-content: center;
    background: #ff0051;
    color: #fff;
    font-family: 'Inter', sans-serif;

}

.contact {
    display: grid;
    place-content: center;
    text-decoration: none;
}

.thankyou-section {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
}
.thankyou-section h1 {
    margin: 40px;
}
@media screen and (max-width: 350px) {
    .flex-grid img {
        height: 300px !important;
    }
    .flex-grid .right-column .experience-wrapper .box h3 {
        font-size: 1.5rem !important;
    }
    .flex-grid .right-column .experience-wrapper .box h4 {
        font-size: 1rem !important;
        font-weight: normal;
    }
    .flex-grid .right-column .experience-wrapper .box {
        margin: 10px !important;
    }
    /* .flex-grid .right-column .experience-wrapper {
        display: grid;
        grid-template-columns: 100% !important;
    } */
}