* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}


footer {
    height: 40px;
    width: 100%;
    display: grid;
    place-content: center;
    background: #ff0051;
    color: #fff;
    font-family: 'Inter', sans-serif;

}