@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
    
}


.wrapper {
    display: grid;
    justify-items: center;
    margin-bottom: 55px;
   
}
.darkmode {
    background: #1c1c1e;
}
/* .darkmode .wrapper {
    background: #1c1c1e;
} */
.darkmode .landing-page {
    background-color: #1d1d1f;

    color: #fff;
}
.darkmode .about-me {
    background: #40c8e0;
}

.landing-page {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #ffffff;
}
.landing-page h1 {
    font-size: 4rem;
}
.landing-page h1 span {
    color: rgb(255, 69, 58);
}
.landing-page #Typewriter {
    color: rgb(255, 69, 58);
}




.about-me {
    max-width: 1200px;
    width: 90%;
    background: #e1f4fb;
    border-radius: 6px;
}
.about-me h1 {
    font-family: 'Inter';
    font-size: 2.5rem;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-top: 45px;
}
.about-me h2 {
    font-family: 'Inter';
    color: #6e7d82;
    padding-left: 45px;
}
.about-me .bottom {
    padding: 45px;
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 45px;
}



.services {
    max-width: 1200px;
    width: 90%;
    background: #ffeed7;
    border-radius: 6px;
}
.services h1 {
    font-family: 'Inter';
    font-size: 2.5rem;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-top: 45px;
}
.services h2 {
    font-family: 'Inter';
    color: #c88d8d;
    padding-left: 45px;
}
.services .bottom {
    padding: 45px;
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: auto auto;
}

.services .bottom .section {
    margin: 20px;
    font-size: 1.2rem;
    max-width: 400px;
}
.services .bottom .section h3 {
    font-family: 'Inter';
    font-size: 2rem;
    color: #c88d8d;
    padding-bottom: 20px;
}


.footer {
    width: 100%;
    height: 50px;
    color: #fff;
    background: #222;
    font-family: 'inter';
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
@media screen and (min-width: 1000px) {
    .about-me {
        display: flex;
    }
    .about-me h1 {
        width: max-content;
    }
    .services {
        display: flex;
    }
    .services h1 {
        width: max-content;
    }
}

@media screen and (max-width: 800px) {
    .services .bottom {
        grid-template-columns: auto;
    }
   
}
@media screen and (max-width: 600px) {
    .navbar .right-screen-size {
        display: flex !important;
    }
    .navbar .right {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    
    
    .about-me {
        width: 100%;
    }
    .services {
        width: 100%;
    }
    .landing-page h1 {
        font-size: 2.6rem;
    }
}